* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.calc {
  width: 700px;
  margin: 0 auto;
}

.display {
  background-color: gray;
  height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 34px 20px;
  text-align: end;
  margin: 1rem 0 0;
}

.panel {
  height: 100px;
}

.button {
  width: 25%;
  text-align: center;
  color: black;
  border: solid whitesmoke 1px;
  font-size: medium;
  background-color: orange;
}

.wide {
  width: 50%;
}

.custom-color {
  background-color: lightgray;
}
