* {
  box-sizing: border-box;
}

h2 {
  position: absolute;
  left: 4rem;
  top: 7rem;
  color: darkslategrey;
}

.flex {
  display: flex;
}

.nav {
  padding: 0 4rem;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
}

.nav h1 {
  color: white;
}

.nav a {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  margin: 0 0.5rem;
}

.lorem {
  position: absolute;
  left: 4rem;
  top: 12rem;
  width: 90%;
  font-size: 1.5rem;
}

.lorem p {
  margin-bottom: 3rem;
}

.calc {
  width: 700px;
  position: absolute;
  right: 4rem;
}

.display {
  background-color: gray;
  height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 34px 20px;
  text-align: end;
  margin: 1rem 0 0;
}

.panel {
  height: 100px;
}

.button {
  width: 25%;
  text-align: center;
  color: black;
  border: solid whitesmoke 1px;
  font-size: 1.5rem;
  background-color: orange;
}

.wide {
  width: 50%;
}

.custom-color {
  background-color: lightgray;
}

.nav a:hover {
  color: white;
}